body {
  background-color: rgb(180, 235, 255);
  min-height: 100vh;
  font-size: x-large;
  font-family: Arial, Helvetica, sans-serif
}
h5{
  font-family: cursive;
}
h6{
  font-family: Georgia, 'Times New Roman', Times, serif;
}